# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Experiments
experiments/logs/*
experiments/checkpoints/*
experiments/results/*
!experiments/logs/.gitkeep
!experiments/checkpoints/.gitkeep
!experiments/results/.gitkeep

# OS/editor
.DS_Store
.vscode/
.idea/

# Large model artifacts
*.pt
*.pth
*.ckpt